/cmake-build-debug
/.idea
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
in.txt
out.exe
semester_7/DL/lab2/SegTask
semester_7/DL/lab2/data.zip
semester_7/DL/lab2/runs
semester_7/DL/lab3/data
semester_7/DL/lab3/logs
semester_7/DL/lab3/tensorboard.zip
semester_7/DL/lab3/__MACOSX